<!DOCTYPE html>
<html  lang="en" xmlns:ng="http://angularjs.org">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-cloak>


    <div ui-view></div>
    <!-- We'll also add some navigation: -->
    <a ui-sref="state1">State 1</a>
    <a ui-sref="state2">State 2</a>

    


    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>

  	<input type="text" ng-model="sometext" />
  	 <h1>Hello {{ sometext }}</h1>



    <div ng-controller="HelloUserController">
        <input ng-model="name" ng-keyup="NameChange()">
        <h1>o {{ greeting }}</h1>
        <h2></h2>
    </div>


	<img src="logo.png" width="100" height="100">
	<script src="vendor.bundle.js"></script>
	<script src="app.js"></script>
</body>
</html>